<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ControlzEx" version="7.0.0-alpha0018" targetFramework="net472" />
  <package id="MahApps.Metro" version="3.0.0-alpha0476" targetFramework="net472" />
  <package id="MahApps.Metro.IconPacks" version="4.11.0" targetFramework="net472" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.77" targetFramework="net472" />
</packages>